<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">  
 <table>  
<tr>  
  <td>Mobile Number:</td>  
  <td>  
    <input name="mobileNumber" [ngModel]="user.mobileNumber" [pattern]="mobNumberPattern" #mobNumber="ngModel">  
    <div *ngIf="mobNumber.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
      <div *ngIf="mobNumber.errors.required">  
        Mobile number is required.  
      </div> 
      <div *ngIf="mobNumber.errors.pattern">  
        Mobile number not valid.  
      </div>   
    </div>  
  </td>  
  </tr>
  <tr>  
  <td>User Email</td>  
  <td>  
    <input name="email" [ngModel]="user.email" [pattern]="emailPattern" #email="ngModel">  
    <div *ngIf="email.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">  
      <div *ngIf="email.errors.pattern">  
       Email is not valid.  
      </div>   
    </div>  
  </td>  
  </tr>        

  <tr>      
  <td colspan="2">  
    <button type="submit">Submit</button>  
  </td>  
  </tr>      
 </table>   
</form>  