<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
  <table>
    <tr>
      <td>Mobile Number:</td>
      <td>
        <input
          name="mobileNumber"
          onlyNumber
          [ngModel]="user.mobileNumber"
          [pattern]="mobNumberPattern"
          required
          #mobNumber="ngModel"
        />
        <div
          *ngIf="mobNumber.errors && userForm.submitted && !isValidFormSubmitted"
          [ngClass]="'error'"
        >
          <div *ngIf="mobNumber.errors.required">
            Mobile number is required.
          </div>
          <div *ngIf="mobNumber.errors.pattern">
            Mobile number not valid.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>User Email</td>
      <td>
        <input
          name="email"
          [ngModel]="user.email"
          [pattern]="emailPattern"
          #email="ngModel"
          required
        />
        <div
          *ngIf="email.errors && userForm.submitted && !isValidFormSubmitted"
          [ngClass]="'error'"
        >
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.pattern">
            Email is not valid.
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
<br>
<a href="">Follow the blog tutorial article</a><br><br>
      Love this Angular template driven forms tutorial?&nbsp;
      <a href="https://github.com/c-manna/validation-in-template-driven-forms" target="_blank" rel="noopener"> Give my repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
